* {
  box-sizing: border-box;
}
html {
  background: #f2f2f2;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100%;
}

/* Height Fix for iOS devices */
.App {
  height: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'log'
    'question';
  grid-template-rows: 7.6rem 1fr 80px;
}

@media (max-width: 768px) {
  #root {
    position: fixed;
  }
}
