* {
  box-sizing: border-box;
}
html {
  background: #f2f2f2;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
/* Height Fix for iOS devices */
.App {
  height: calc(100vh - 190px);
}

main {
  height: 100%;
}

@media (min-width: 768px) {
  main {
    margin: 0 auto;
    max-width: 768px;
  }
}
